---
import { ClientRouter } from "astro:transitions";
import "../styles/tailwind.css";
import "../assets/scss/index.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = {
  /** The title of the page */
  title?: string;
  /** The description of the page */
  description?: string;
};

const { title, description } = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta property="og:title" content={title} />
    { description && (
      <>
        <meta name="description" content={description} />
        <meta property="og:description" content={description} />
      </>
    )}
    <meta name="author" content="Jumpei Ogawa" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site?.href} />
    <meta property="og:image" content={`${ Astro.site?.href }/opengraph.png`} />

    <!-- TODO Twitter card -->

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Enable Astro View Transitions for all browsers -->
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      // sticky footer on low content pages
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        overflow-x: clip;

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        border: 2px solid var(--link-color);
        border-radius: 0.35rem;
        padding: 1rem;
      }
    </style>
  </body>
</html>
